@{
    ViewData["Title"] = "Página Inicial";
}
<style>
    .arrume{
    margin-top:-450px;
    margin-left: 680px;
    }
    #branco{
    color: white;
    }
    .colorir{
    color: red;
    }
    .colorir:hover{
    color: red;
    }
    .text-center{
    margin-top:200px;
    }
    .arrume2{
    width: 500px;
    margin-left: 300px;
    margin-top: -380px
    }
</style>
<img src="https://images2.imgbox.com/b0/8e/u1DY7CVk_o.png" class="img-fluid" alt="...">
<div class="arrume">
        <h1>A SUA DIETA SERÁ<br>CONSTRUÍDA PELO<br><b class="colorir">RENATO CARIANI</b></h1>
        <p>Em parceria com a Max Titaniuem e o <br>Renato Cariani, <b>nós vamos montar toda sua <br>lista de treino e dieta</b>
            para você começar<br> 2023 voando no shape!</p>
        <a class="btn btn-danger" role="button" id="branco">QUERO AGORA</a>
</div>
<div class="text-center">
    <h4>Encontre a academia <b class="colorir">mais próxima</b></h4>
    <p>A partir de <b class="colorir">R$90,00</b></p>
    </div>
<img src="https://images2.imgbox.com/7e/81/X4z1gC8t_o.jpg" class="img-fluid" alt="...">
<div class="arrume2">
<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Procure" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">Pesquisa</button>
      </form>
    </div>
<br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br>
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Benefícios</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2">Crescimento rápido</h3>
        <p>Nossa academia se compromete em fazer você crescer de forma "saudável".</p>
        <a href="#" class="colorir">
          Chama o Renato
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h3 class="fs-2">Aumento de autoestima</h3>
        <p>Com a ajuda dos nossos profissionais, nós iremos fazer você manter-se 25/7 em frente ao espelho.</p>
        <a href="#" class="colorir">
          Chama o Narciso
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h3 class="fs-2">Capacidade mental</h3>
        <p>Com o corpo físico <b class="colorir">gigante</b>, fará com que seu cérebro cresça junto.</p>
        <a href="#" class="colorir">
          Chama o Albert Einstein
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>11